body{background-color: #222831;}
h1{color: #00ADB5;background-color: #EEEEEE;text-align: center;font-style: italic;}
li{color: #00ADB5;background-color: #DBE2EF;font-weight: bold;}
img{height: 200px ;width: 200;}